<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Course List
      </a>
    </div>
  </div>
</nav>
<div>
<app-courselist></app-courselist> 
</div>